// header
.header
    display: flex
    justify-content: space-between
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 70px
    background-color: #000000
    z-index: 999
    padding-left: 40px
    padding-right: 30px
    &-logo
        align-self: flex-end
        width: 100%
        max-width: 195px
    &-nav
        align-self: center
        &-wrap
            display: flex
            align-items: center
        &-list
            display: flex
            align-items: center
            &-item.has-child 
                position: relative
                & > a
                    line-height: 70px
            &-item
                & > a
                    color: #f2f5f5
                    font-size: 16px
                    font-weight: 700
                    line-height: 24px
                    text-transform: uppercase
                    text-decoration: none
                    padding: 0 30px
        &-dropdown
            &-menu
                position: absolute
                content: ''
                top: 100%
                left: 0
                right: 0
                min-width: 780px
                padding-left: 30px
                display: none
                flex-wrap: wrap
                background: #fff
                padding: 17px 0
                &::before
                    content: ""
                    background: #fff
                    position: absolute
                    /* left: 0; */
                    right: -100%
                    width: 100000px
                    top: 0
                    bottom: 0
                    z-index: -1
                &::after
                    content: ""
                    width: 1px
                    top: 19px
                    bottom: 19px
                    position: absolute
                    background-color: rgba(219, 228, 227, 0.82)
                    left: 11px
                li
                    width: 40%
                    padding: 6px 0
                    a
                        display: block
                        width: 100%
                        height: 100%
                        font-size: 13px
                        color: #2e2e2f
                        padding: 0 30px
                        font-weight: bold
                        text-transform: uppercase
                        transition: 0.3s linear
                        text-decoration: none

    &-mobile
        position: relative
        padding: 0 23px
        &::after, &::before
            position: absolute
            content: ''
            top: 50%
            width: 1px
            height: 24px
            background-color: #455458
            transform: translateY(-50%)
        &::before
            left: 0  
        &::after
            right: 0  
        &__link
            color: #ffffff
            font-size: 20px
            font-weight: 600
            line-height: 36px
            text-transform: uppercase
            text-decoration: none
            span
                color: #63cdd7
                font-weight: 300
    &-search
        margin-left: 30px
        &__link
            svg
                width: 24px
                height: 24px
    
    
    
    
// nav-menu

// nav-menu-colors
.nav-menu.active
    right: 0
    ul
        li
            a
                opacity: 1
.nav-menu.light.active
    ul 
        li 
            background: rgba(0, 0, 0, 0.9)
            a
                svg
                    fill: #ffffff
.nav-menu.light.active, .nav-menu.light
    ul
        li
            &::before
                background-color: #f2f5f5
            a
                color: #fff
.nav-menu.dark.active, .nav-menu.dark
    ul
        li
            &::before
                background-color: #202c2e
            a
                color: #202c2e
    
.nav-menu.light:hover
    ul 
        li
            background-color: rgba(0, 0, 0, 0.9)
            transition: 0.3s ease
            a
                svg
                    fill: #ffffff
.nav-menu.dark:hover
    ul 
        li
            background-color: #dcdfdf
            transition: 0.3s ease
            a
                svg
                    fill: #202c2e
.nav-menu:hover
    right: 0
    ul 
        li
            a 
                opacity: 1

.nav-menu.light, .nav-menu.dark
    ul
        li.active 
            &::before
               background-color: #00d1d9
               transition: 0.3s ease
            a
                color: #00d1d9
                svg 
                    fill:  #00d1d9
        li:hover
            &::before
                background-color: #00d1d9
            a 
                color: #00d1d9
                svg
                    fill: #00d1d9
                    transition: 0.3s ease
.nav-menu.dark
    ul 
        li.active
            &::before
               background-color: #0097ba
               transition: 0.3s ease
            a
                color:#0097ba
                svg 
                    fill:  #0097ba
        li:hover
            &::before
               background-color: #0097ba
               transition: 0.3s ease
            a
                color:#0097ba
                svg 
                    fill:  #0097ba
        


.nav-menu.hidden
    opacity: 0
    visibility: hidden
    transition: 0.3s ease

.nav-menu
    position: fixed
    z-index: 1
    bottom: 130px
    width: 350px
    right: -250px
    transition: 0.3s linear
    opacity: 1
    visibility: visible
    &__scroll-up
        svg
            width: 14px
            height: 18px
            fill: #ffffff
            transition: 0.3s ease
    ul
        padding-left: 40px
        li + li
            margin-top: 20px

        li
            position: relative
            transition: 0.3s ease
            &::before
                position: absolute
                content: ''
                top: 0
                left: 0
                width: 3px  
                height: 100%
                transition: 0.3s ease
            a
                display: flex
                align-items: center
                padding-left: 20px
                font-size: 12px
                line-height: 14px                
                height: 40px
                text-transform: uppercase
                text-decoration: none
                transition: 0.3s ease
                opacity: 0
                span 
                    margin-right: 5px

    
// btn-scroll-up
.btn-scroll-up.hidden
    opacity: 0
    visibility: hidden
    transition: 0.3s ease
.btn-scroll-up
    position: fixed
    bottom: 130px
    right: 14px
    z-index: 44
    opacity: 1
    visibility: visible
    transition: 0.3s ease
    height: 48px
    min-width: 75px
    width: 6.65%
    background-color: rgba(0, 0, 0, .9)
    a 
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        color: #65cbd7
        font-size: 12px
        line-height: 14px
        text-transform: uppercase
        text-decoration: none
        span 
            svg
                width: 14px
                height: 18px
                fill: #65cbd7
                margin-right: 6px
    