@media (min-width: 1025px)
    .header-nav-list-item.has-child:hover .header-nav-dropdown-menu
        display: flex


    .nav-menu.dark:hover
        ul 
            li
                background-color: #dcdfdf
                transition: 0.3s ease
                a
                    svg
                        fill: #202c2e
    .nav-menu:hover
        right: 0
        ul 
            li
                a 
                    opacity: 1


    .nav-menu.light
        ul
            li:hover
                &::before
                    background-color: #00d1d9
                    transition: 0.3s ease
                a 
                    color: #00d1d9
                    svg
                        fill: #00d1d9
                        transition: 0.3s ease


    .nav-menu.dark
        ul 
            li:hover
                &::before
                    background-color: #0097ba
                    transition: 0.3s ease
                a
                    color:#0097ba
                    svg 
                        fill:  #0097ba
                        transition: 0.3s ease




    .screen-view-slider-wrap:hover
        .screen
            &-view
                &-slider
                    &-item
                        &__link
                            height: 50px


    .screen-view-slider-wrap
        &:hover
            .screen-view-slider-item__link
                height: 65px
                visibility: visible
                transition: all .3s




@media screen and (max-width: 1560px)
    // nav-menu
    .nav-menu
        width: 290px
        right: -190px

@media screen and (max-width: 1440px)
    .nav-menu
        right: -215px
        ul
            padding-left: 15px
    .screen
        &-left
            &-step
                &-block
                    min-height: 450px
                &__count
                    font-size: 48px
                    line-height: 31.78px
                    &::after
                        left: 25px  
                &__title
                    font-size: 27px
                    line-height: 29px
    .page-building
        .screen-view
            .screen
                &-view
                    &-wrap
                        h2 
                            margin-bottom: 15px
                    &-content
                        .screen-main-links
                            padding-left: 30px  
                        .screen-main-links-block
                            padding-right: 20px
                        &-date
                            padding-left: 30px
                            &-item
                                margin-right: 5%
                                &__icon.duration 
                                    svg
                                        width: 30px
                                &__icon.money 
                                    svg
                                        width: 30px
                                &__text
                                    span
                                        font-size: 48px
                    &-slider
                        &-wrap
                            height: 280px
                            max-width: 380px
                            bottom: -50px   
                        &-item
                            height: auto
                            max-width: 380px
                            &__link
                                line-height: 50px
                                height: 50px
                            &__img
                                height: 280px
                        &-arrow
                            height: 172px
                            bottom: 50px

    .section-preview
        padding-left: 5%
        padding-right: 5%
    .section-preview.type_1
        .preview
            &-list
                &-item
                    width: calc(33.333% - 34px)
    .section-preview.type_2
        .preview
            &-list
                &-item
                    width: calc(25% - 44px)




@media screen and (max-width: 1280px)
    h1
        font-size: 44px
        line-height: 54px
    h2, h3 
        font-size: 32px
        line-height: 36px
    
    p 
        font-size: 20px
        line-height: 38px

    p + p
        margin-top: 30px

    .breadcrumb
        margin-bottom: 20px
        ul 
            li 
                a, span 
                    font-size: 12px
    .screen
        &-left 
            &-step 
                &__count
                    font-size: 40px
                &__title
                    font-size: 24px
                    line-height: 26px
        &-one 
            padding-top: 60px
        &-top 
            padding-top: 67px
            padding-left: 22px
            padding-right: 22px
        &-main 
            p.screen-main__text
                max-width: 80%
                margin-top: 30px
            &-links
                padding: 22px 35px

        .screen-block-production
                .screen-block
                    &-production
                        &-text
                            margin-bottom: 43px
                            p
                                font-size: 20px
                                line-height: 34px
                            ul
                                li 
                                    font-size: 20px
                                    line-height: 34px
    
    // advantages
    .screen
        &-advantages
            &-item
                width: 33.3333%
                &__title
                    font-size: 14px
                    line-height: 22px
        .screen-block
            &-receive
                .screen-advantages
                    padding-bottom: 10px
                .screen-advantages-text
                    padding-top: 30px


    // team 
    .screen 
        &-block
            &-team
                &-text 
                    margin-bottom: 34px 
                    p
                        margin-bottom: 40px
        &-team
            &-slider 
                height: 280px
                &-item 
                    max-width: 495px
                    &__img
                        max-width: 221px


    .page-building
        .screen-view
            .screen
                &-view
                    &-content
                        width: 48%
                        .screen-main-links
                            padding: 20px
                            &-block + .screen-main-links-block
                                padding-left: 10px
                        &-date
                            flex-wrap: wrap
                            padding: 18px 20px 0
                            &-item + .screen-view-content-date-item
                                margin-top: 10px
                            &-item 
                                &__text
                                    span 
                                        font-size: 36px
                    &-slider 
                        &-wrap
                            height: 271px
                            max-width: 355px
                            right: 40px
                        &-item
                            height: 271px
                            max-width: 355px
                            &__img
                                height: 271px
                        &-arrow
                            width: 40px
                            &_prev
                                left: -40px
                            &_next
                                right: -40px
                    &-block
                        height: 172px
    
    .screen-calculate
        .calculate
            &-box + .calculate-box 
                margin-top: 50px
            &-box.main-parametrs
                .calculate-box-wrap
                    &::after
                        display: none
            &-box.main-parametrs, &-box.advanced-setting
                width: 100%
                padding-left: 0
                padding-right: 0
            &-box, &-box.info
                margin-bottom: 0
                &-title
                    font-size: 20px
                    line-height: 22px




    .page-building-detail
        .section
            &-desc
                padding-top: 100px
                padding-bottom: 100px
                &-text 
                    margin-bottom: 50px
                &-advantages
                    &-block
                        h3 
                            margin-bottom: 10px
                    &-item
                        width: 33.333%
                        &__title
                            font-size: 14px
                            line-height: 22px
    
    // .section-preview
    .section-preview.type_1
        padding-top: 80px
        padding-bottom: 100px
        .preview
            &-list
                &-item
                    width: calc(33.333% - 25px)
                    &__title
                        font-size: 14px
                        line-height: 20px
                    &__desc
                        font-size: 12px
                        line-height: 22px


    .section-preview.type_2
        padding-top: 80px
        padding-bottom: 100px
        .preview
            &-list
                &-item
                    width: calc(25% - 25px)
                    &__title
                        font-size: 13px
                        line-height: 20px


    .section
        &-preview
            &-top
                margin-bottom: 34px




    .preview
        &-list
            &-item
                &__date
                    left: -25px
                    &_text
                        font-size: 13px
                    &_icon
                        svg
                            width: 18px
                            height: 14px



    .section
        &-content
            &-middle
                article + article 
                    margin-top: 70px
                article 
                    img
                        margin-top: 70px
            &-article
                &-intro
                    margin-bottom: 0
            

                
@media screen and (max-width: 1024px)
    h1 
        margin-bottom: 55px
    .screen
        &-one 
            padding-top: 50px
    .nav-menu
        width: 100px
        ul 
            padding-left: 30px
            li 
                a
                    padding-left: 15px
                    span.nav-menu__text
                        display: none
                    span:not(.nav-menu__text)
                        width: 14px
                        text-align: center                  

    .nav-menu.dark
        ul 
            li
                background-color: #dcdfdf
                transition: 0.3s ease
                a
                    svg
                        fill: #202c2e

    // advantages
    .screen
        &-advantages
            &-item
                width: 50%
                &__title
                    max-width: 200px



    // team 
    .screen
        &-team
            &-slider 
                height: 353px
                &-item 
                    max-width: 100%
                    &__img
                        max-width: 280px

    .page-building 
        .screen 
            .screen-block-receive
                .screen-advantages-text
                    margin-bottom: 45px
                    &::before
                        display: none



    .page-building
        .screen-view
            padding-bottom: 7%
            .screen
                &-view
                    &-wrap
                        margin-right: 0
                        width: 100% 
                        h2 
                            line-height: 36px
                            max-width: 100%
                            margin-bottom: 30px
                    &-content
                        width: 100%
                        background-color: #000
                        margin-bottom: 30px
                        padding: 10px
                        &::after
                            display: none
                        .screen-main-links
                            &-block + .screen-main-links-block
                        &-date
                            padding: 20px
                            &-item + .screen-view-content-date-item
                            &-item 
                                &__text
                                    span 
                    &-slider
                        width: 100%
                        &-wrap
                            position: relative
                            height: auto
                            width: 100%
                            right: auto
                            bottom:  auto
                            max-width: 415px
                            display: flex
                            flex-direction: column
                            align-items: center
                            margin-left: 50px
                        &-item
                            height: 317px
                            max-width: 415px
                            &__img
                                height: 317px
                            &__link
                                position: relative
                                height: 65px
                                line-height: 65px
                                opacity: 1
                                visibility: visible
                                display: block
                                width: 100%
                                max-width: 415px
                        &-arrow
                            bottom: 0
                            height: 100%
                            width: 50px
                            &_prev
                                left: -50px 
                            &_next
                                right: -50px
                    &-block
                        height: auto
                        flex-direction: column
                        align-items: flex-start
                        background-color: transparent


    .screen-calculate
        .calculate
            &-box.info
                .calculate-box-item
                    width: calc(50% - 30px)
    

    .page-building-detail
        .section
            &-desc
                padding-top: 80px
                padding-bottom: 80px
                &-text
                    padding-top: 20px
                &-advantages
                    &-item
                        width: 50%
                        &__title
                            max-width: 200px



    
    .page-news-detail
        .screen
            &-main
                &-date
                    top: -35px
                    left: 25px
                    flex-direction: row
                    align-items: center
                    &__icon
                        margin-bottom: 0
                        margin-right: 10px
                        &::after 
                            display: none
                    &__text
                        font-size: 16px
                        writing-mode: initial
                        transform: none


    // section-preview
    .section-preview
        &-link
            font-size: 14px
            line-height: 16px
    .section-preview.type_1
        .preview
            &-list
                &-item:last-child 
                    display: none
                &-item
                    width: calc(50% - 20px)


    .section-preview.type_2
        .preview
            &-list
                &-item:nth-last-child(2), &-item:last-child
                    display: none
                &-item
                    width: calc(50% - 20px)


    .section
        &-content
            &-block
                padding-top: 80px
                padding-bottom: 80px
            &-middle
                article + article 
                    margin-top: 40px
                article
                    img
                        margin: 40px 0


    .section
        &-content 
            &-slider 
                height: fit-content
                .slick-dots
                    bottom: -45px
                &-item 
                    margin: 0
                    &__img
                        height: auto
                        img 
                            height: auto
                &-wrap
                    margin-top: 80px
                    margin-bottom: 60px
                    width: 100%
                    margin-left: 0
                    margin-right: 0
    

    .page-article-detail
        .screen-main
            p.screen-main__text
                margin-bottom: 0
            .text-before
                &::before
                    display: none
                    


@media screen and (max-width: 768px) 
    .breadcrumb
        ul 
            li 
                a, span 
                    line-height: 12px
            li + li
                margin-left: 20px
                &:before 
                    left: -10px
    .screen.screen-one
        min-height: 100vh
        &::before
            display: none
        .screen-main-block
            padding-right: 0
            margin-bottom: 13.5%
    .screen
        min-height: auto
        padding-left: 0
        padding-right: 0
        background-attachment: scroll
        &-top 
            padding-left: 30px
            padding-right: 30px
        &-left 
            &-step 
                display: none
        &-one 
            padding-top: 50px
        &-main 
            p.screen-main__text
                margin-bottom: 15%
    .nav-menu
        display: none


    // production
    .screen
        .screen-block-production
                .screen-block
                    &-wrap
                        max-width: 100%

    // reviews
    .screen 
        &-block
            &-reviews
                .screen-block-wrap
                    margin-top: 0
        &-reviews
            &-slider
                &-item
                    &__review
                        margin-bottom: 40px
                    &__name
                        p 
                            margin-bottom: 10px
                        span 
                            margin-bottom: 20px

    // team 
    .screen 
        &-block
            &-team
                &-text
        &-team
            &-slider 
                margin-left: -30px  
                margin-right: -30px
                width: calc(100% + 60px)
                height: 353px
                .slick-list
                    padding-left: 30px
                &-item 
                    max-width: 595px
                    &__img
                        max-width: 280px
                        margin-right: 20px

    .page-building 
        .screen 
            .screen-block-receive
                .screen-advantages-text
                    margin-bottom: 30px


    .screen-calculate
        .calculate
            &-box.info
                .calculate-box-item
                    width: calc(50% - 10px)
            &-box.main-parametrs
                .calculate-box-item
                    width: calc(25% - 10px)
            &-box.advanced-setting
                .calculate-box-item
                    width: calc(75% - 10px)
                .calculate-box-item.counter
                    width: calc(25% - 10px)



    .page-building-detail
        .screen.screen-one
            .screen
                &-main
                    &-numbers
                        margin-bottom: 35px
                        &-item
                            &__text
                                font-size: 14px
                                line-height: 16px
                                span
                                    font-size: 48px
                                    line-height: 52px
        .section
            &-desc
                padding-top: 50px
                padding-bottom: 50px
                padding-left: 0
                padding-right: 0
                &-text
                    padding-top: 20px
                    margin-bottom: 30px
                &-advantages
                    &-item
                        width: 50%
                        &__title
                            max-width: 200px


    .page-news-detail
        .screen
            &-main
                p.screen-main__text
                    margin-bottom: 0


    // section-preview
    .section-preview
        padding-left: 0
        padding-right: 0
        &-link 
            white-space: nowrap
            margin-left: 15px
    .section-preview.type_1
        padding-top: 50px
        padding-bottom: 70px
        .preview
            &-list
                &-item:last-child 
                    display: none
                &-item
                    width: calc(50% - 20px)

    .section-preview.type_2
        padding-top: 50px
        padding-bottom: 70px
        .preview
            &-list
                &-item
                    width: calc(50% - 20px)

    .section
        &-content
            &-middle
                padding-left: 0
                padding-right: 0

    .section
        &-content 
            &-slider 
                padding-left: 50px
                padding-right: 50px
                &-arrow
                    width: 50px
                    height: 60px
                    background-color: #000
                &-item 
                    &__img
                &-wrap
                    margin-top: 60px
                    &::before 
                        display: none

@media screen and (max-width: 575px)
    h1
        font-size: 24px
        line-height: 29px
        margin-bottom: 20px
    h2, h3 
        font-size: 20px
        line-height: 24px
        margin-bottom: 15px
        max-width: 90%
    p 
        font-size: 16px
        line-height: 26px

    p + p
        margin-top: 15px
        
    .container
        padding-left: 15px
        padding-right: 15px

    .breadcrumb 
        display: none

    .screen.screen-one
        min-height: auto
        .screen-main-block 
            margin-bottom: 0

    .screen
        &-top 
            padding-top: 32px
            padding-left: 15px
            padding-right: 15px
        &-main
            height: auto
            &-wrap
                padding: 55px 0 49px
            p.screen-main__text
                font-size: 16px
                line-height: 26px
                margin-top: 0
                margin-bottom: 0
                max-width: 100%
                margin-bottom: 40px
            &-links
                flex-wrap: wrap
                flex-direction: column
                width: 100%
                padding: 0
                background-color: transparent
                &-block                    
                    padding: 0
                    width: 100%
                    display: flex
                    justify-content: center
                    background-color: #000
                    a 
                        padding: 0
                        height: 64px
                        width: 100%
                        justify-content: center
                        span                           
                            width: min-content
                            min-width: 250px
                            width: 250px
                &-block + .screen-main-links-block
                    padding-left: 0
                    margin-top: 2px
                    &::before
                        display: none

    // advantages
    .screen
        &-advantages
            &-item
                display: flex
                align-items: center
                margin: 10px 0
                width: 100%
                &__title
                    font-size: 12px
                    line-height: 18px
                &__icon
                    svg 
                        min-width: 40px
                        width: 40px
                        height: 40px
    
    // production
    .screen
        .screen-block-production
            .screen-block
                &-production
                    &-text
                        margin-bottom: 23px
                        p
                            font-size: 16px
                            line-height: 24px
                        ul
                            li 
                                font-size: 16px
                                line-height: 24px
    .screen.dark:not(.screen-one)
        ul 
            li 
                &::before
                    top: 13px


    // reviews
    .screen
        &-block
            &-reviews
                .screen-main-links
                    padding: 0
                    a 
                        svg
                            height: 20px
                            width: 20px
                    &-block
                        &::before
                            display: none
                    .screen-slider-nav 
                        padding: 22px 0
                        width: 100% 
                        display: flex
                        justify-content: center
                        background-color: #000
                        margin-left: 0
                        margin-top: 2px
                        p.screen-slider-nav__counter
                            line-height: 20px
        &-reviews
            &-slider
                &-item
                    &__review
                        margin-bottom: 30px
                    &__name
                        p 
                            font-size: 15px
                            line-height: 15px
                            margin-bottom: 10px
                        span 
                            margin-bottom: 20px



    // team 
    .screen 
        &-team
            &-slider 
                margin-left: -15px  
                margin-right: -15px
                width: calc(100% + 30px)
                height: fit-content
                .slick-list
                    padding-left: 15px
                &-item 
                    margin-right: 15px
                    max-width: 260px
                    &-wrap
                        flex-wrap: wrap
                        align-items: cetner
                    &__img
                        max-width: 100%
                        margin-right: 0
                        width: 100% 
                    &-info 
                        width: 100%
                        margin-top: 20px
                        &__position 
                            padding-bottom: 15px
                            margin-bottom: 20px
                .screen-team-slider-item-info__fio 
                    span 
                        font-size: 18px
                        line-height: 24px
        &-block
            &-team
                &-text 
                    padding-bottom: 15px
                    margin-bottom: 24px
                    p 
                        margin-bottom: 25px
                    a 
                        font-size: 13px


    // partners
    .screen
        &-partners
            &-slider
                margin-bottom: 30px
                height: fit-content


    .page-building
        .screen-view
            .screen
                &-view
                    &-wrap
                        h2 
                            line-height: 28px
                            max-width: 90%
                            margin-bottom: 20px
                    &-content
                        padding: 0
                        background-color: transparent
                        &::after
                        .screen-main-links
                            &-block + .screen-main-links-block
                        &-date
                            flex-direction: column
                            margin-bottom: 10px
                            background-color: #000
                            &-item + .screen-view-content-date-item
                            &-item 
                                margin-right: 0
                                &__icon.duration, &__icon.money
                                    svg
                                        width: 25px
                                        height: 20px
                                &__text
                                    font-size: 14px 
                                    line-height: 16px
                                    span 
                                        font-size: 24px
                                        line-height: 28px
                        .screen-main-links
                            padding: 0
                            &-block + .screen-main-links-block
                                padding-left: 0
                            &-block
                                padding-right: 0
                    &-slider
                        // max-width: 320px
                        // height: 244px
                        height: auto
                        &-wrap
                            display: block
                            margin-left: 0
                            max-width: none
                            display: flex
                            flex-direction: column
                            align-items: center
                        &-item
                            height: auto
                            width: 100%
                            max-width: 575px
                            &__img
                                height: auto
                                img
                                    height: auto
                            &__link
                                max-width: none
                                height: 64px
                                line-height: 64px
                        &-arrow
                            display: none
                            &_prev
                            &_next
    
    .screen-calculate
        h2 
            margin-bottom: 30px
            max-width: 100%
        .calculate
            &-box + .calculate-box
                margin-top: 50px
            &-box, &-box.info
                &-title
                    font-size: 15px
                    line-height: 17px
                    margin-bottom: 15px
                .calculate-box-item
                    width: 100%
                .calculate-box-item:last-child
                    margin-bottom: 0
                &-item
                    &-label, .calculate-box-item-title
                        margin-bottom: 10px
            &-box.main-parametrs
                .calculate-box-item
                    width: calc(50% - 10px)
                .calculate-box-item.options.inline
                    flex-direction: column
                    align-items: flex-start
                    margin-bottom: 30px
                    p 
                        margin-bottom: 10px
                .calculate-box-item-radio + .calculate-box-item-radio
                    margin-left: 10px
            &-box.advanced-setting
                .calculate-box-item
                    width: calc(50% - 10px)
                .calculate-box-item.counter
                    width: calc(50% - 10px)
                .calculate-box-item.inline:not(.lifting)
                    flex-direction: column
                    align-items: flex-start
                    p 
                        margin-bottom: 10px
            &-button 
                height: 64px
                line-height: 64px
                    

    .page-building-detail
        .screen.screen-one
            .screen-main
                .screen
                    &-main
                        &-numbers
                            flex-wrap: wrap
                            &-item:first-child
                                margin-right: 10px
                            &-item + .screen-main-numbers-item
                                margin-left: 0
                                margin-top: 5px
                            &-item
                                &__icon.duration, &__icon.money
                                    svg
                                        width: 30px
                                        height: 22px

                                &__text
                                    font-size: 14px
                                    line-height: 16px
                                    span
                                        font-size: 32px
                                        line-height: 34px
        .section
            &-desc
                &-advantages
                    &-item
                        display: flex
                        align-items: center
                        margin: 10px 0
                        width: 100%
                        &__title
                            font-size: 12px
                            line-height: 18px
                        &__icon
                            svg
                                min-width: 40px
                                width: 40px
                                height: 40px


    .page-news-detail
        h1 
            margin-bottom: 40px
        .screen
            &-main
                &-date
                    left: 15px
                    top: -25px
                    &__icon
                        width: 20px
                        height: 20px
                        svg
                            width: 20px
                            height: 20px
                    &__text
                        font-size: 14px


    // section-preview
    .section-preview
        padding-left: 0
        padding-right: 0
        &-link 
            white-space: nowrap
            margin-left: 15px
            font-size: 12px
            line-height: 14px
        .preview
            &-list
                flex-direction: column            
                &-item + .preview-list-item 
                    margin-top: 30px
                &-item
                    &__date
                        left: -22px
    .section-preview.type_1
        .preview
            &-list
                &-item:last-child 
                    display: block
                &-item
                    width: 100%
                    height: fit-content
                    &__img
                        height: auto
                        img 
                            height: auto

    .section-preview.type_2
        .preview
            &-list
                &-item:last-child, &-item:nth-last-child(2)                     
                    display: block
                &-item
                    width: 100%
                    height: fit-content
                    &__img
                        height: auto
                        img 
                            height: auto


    .section
        &-content
            &-block
                padding-top: 50px
                padding-bottom: 50px
            &-middle
                article + article 
                    margin-top: 25px
                article 
                    p + p 
                        margin-top: 15px
                    p
                        font-size: 16px
                        line-height: 26px
                article.level-2 
                    margin-top: 25px
                article 
                    ul, ol
                        padding-left: 35px
                        li 
                            font-size: 16px
                            line-height: 26px
                        li + li 
                            margin-top: 7px
    
    .section
        &-content 
            &-slider 
                padding-left: 0
                padding-right: 0
                &-arrow
                    display: none
                &-item 
                    &__img
                &-wrap

    .screen
        &-reviews
            &-slider
                height: fit-content
