@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Light.eot');
    src: url('Exo20-Light.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Light.woff2') format('woff2'),
        url('Exo20-Light.woff') format('woff'),
        url('Exo20-Light.ttf') format('truetype'),
        url('Exo20-Light.svg#Exo2.0-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Medium.eot');
    src: url('Exo20-Medium.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Medium.woff2') format('woff2'),
        url('Exo20-Medium.woff') format('woff'),
        url('Exo20-Medium.ttf') format('truetype'),
        url('Exo20-Medium.svg#Exo2.0-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Regular.eot');
    src: url('Exo20-Regular.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Regular.woff2') format('woff2'),
        url('Exo20-Regular.woff') format('woff'),
        url('Exo20-Regular.ttf') format('truetype'),
        url('Exo20-Regular.svg#Exo2.0-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0 Semi';
    src: url('Exo20-SemiBold.eot');
    src: url('Exo20-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Exo20-SemiBold.woff2') format('woff2'),
        url('Exo20-SemiBold.woff') format('woff'),
        url('Exo20-SemiBold.ttf') format('truetype'),
        url('Exo20-SemiBold.svg#Exo2.0-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Exo 2.0';
    src: url('Exo20-Bold.eot');
    src: url('Exo20-Bold.eot?#iefix') format('embedded-opentype'),
        url('Exo20-Bold.woff2') format('woff2'),
        url('Exo20-Bold.woff') format('woff'),
        url('Exo20-Bold.ttf') format('truetype'),
        url('Exo20-Bold.svg#Exo2.0-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

